{% extends 'base.html' %}
{% block page %}
    <article>
        <h1>Количество записей {{ count }}</h1>
        {% if count > 0  %}
            <ul>
                {% for section in sections %}
                    <li>{{section.section_title}}</li>
                    <li>{{section.section_url}}</li>
                    <li>{{section.section_description}}</li>
                    <br>
                {% endfor %} 
            </ul>
        {% else %}
            <h1>Нет записей</h1>
        {% endif %}
    </article>
    <a href="/admin/">Admin</a>
    <br>
    <a href="/">Главная</a>   
{% endblock page %}
