{% extends 'base.html' %}
{% block content %}
    <article>
        <h1>Количество записей {{ count }}</h1>
        {% if count > 0  %}
            <ul>
                {% for tovar in tovars %}
                    <li>{{tovar.name}}</li>
                    <li>{{tovar.discript}}</li>
                    <li>{{tovar.cost}}</li>
                    <br>
                {% endfor %} 
            </ul>
        {% else %}
            <h1>Нет записей</h1>
        {% endif %}
    </article>
{% endblock content %}

{% block header %}
    {% include "header.html" with name="Index" %}
{% endblock header %}

{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}

{% block nav %}
    {% include "nav.html" %}
{% endblock nav %}

{% block aside %}
    <p>ASIDE</p>
{% endblock aside %}