{% extends 'base.html' %}
{% block content %}
    {% if id == -1 %}
        Введите данные:<br>
    {% endif %}
    {% if id == 1 %}
        Данные записанные в базу данных:<br>
        Наименование: {{ name }}<br>
        Описание: {{ discript }}<br>
        Стоимость: {{ cost }}<br>
    {% endif %}
    {% if id == 0 %}
        Запись с таким наименованием уже есть в базе данных<br>
    {% endif %}
    <form method="post">        
        {% csrf_token %}
        {{ form }}
        <br><br>
        <input type="submit" value="OK">
    </form>
{% endblock content %}

{% block header %}
    {% include "header.html" with name="Товар" %}
{% endblock header %}

{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}

{% block nav %}    
    {% include "nav.html" %}
{% endblock nav %}

{% block asideLeft %}
    {% include "asideLeft.html" %}    
{% endblock asideLeft %}

{% block asideRight %}
    {% include "asideRight.html" %}    
{% endblock asideRight %}