{% extends 'base.html' %}
{% block content %}
    {% if  name %}
        {{ name }}<br>
        {{ discript }}<br>
        {{ cost }}<br>
    {% endif %}
    <form method="post">        
        {% csrf_token %}
        {{ form }}
        <br><br>
        <input type="submit" value="OK">
    </form>
{% endblock content %}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block footer %}
    {% include "footer.html" %}
{% endblock footer %}

{% block nav %}    
    {% include "nav.html" %}
{% endblock nav %}

{% block asideLeft %}
    {% include "asideLeft.html" %}    
{% endblock asideLeft %}

{% block asideRight %}
    {% include "asideRight.html" %}    
{% endblock asideRight %}